/*navegacao*/
	 nav {
        overflow: hidden;
        background-color: skyblue;
        font-family: Arial;
    }

    nav form {
        float: right;
	margin:auto auto; 
	padding:10px 10px;
	
    }
    nav .register a {
	float: right;
    }
    nav a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
   nav .logout {
	float:right;
   }

   nav input[type=text], nav input[type=password]{
	width: 10em;
   	padding: 8px 4px 8px 10px;
	border: 1px solid rgba(78,48,67, 0.8);
    	background: rgba(0,0,0,0.15);
    	border-radius: 2px;
    }
   nav a:hover{
        background-color: yellowgreen;
    }
   nav input[type=submit]:focus {
    	box-shadow: 
       		0 1px 0 rgba(255,255,255,0.2), 
        	inset 0 1px 1px rgba(0,0,0,0.1),
        	0 0 0 3px rgba(255,255,255,0.15);
    		outline: none;
    }   
    nav input[type=submit] {
    	padding: 8px 5px;
    	background: skyblue;    
    	border-radius: 5px;
    	border: 1px solid white;
    	box-shadow: 
    		inset 0 1px rgba(255,255,255,0.4), 
    		0 2px 1px rgba(0,0,0,0.1);
    	cursor: pointer;
    	color: white;
    	text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    	font-size: 16px;
    	font-weight: bold;
    	font-family:  Arial;
    }

    nav input[type=submit]:hover {
   	 box-shadow: 
       	 	inset 0 1px rgba(255,255,255,0.2), 
        	inset 0 20px 30px rgba(99,64,86,0.5);
    }  


/*forms como o edit e register*/
    section{
 	width: 300px;
    	margin: auto auto auto;
    	padding: 10px;
    	position: relative;
    	font-family:  Arial;
    	color: black;
    	text-shadow: 0 2px 1px rgba(0,0,0,0.3);
	text-align: center;
    }
	
    section h2 {
    	font-size: 22px;
    	padding-bottom: 20px;
    }  
    section input[type=text], section input[type=password], section input[type=email], section input[type=number]{
	width: 10em;
   	padding: 8px 4px 8px 10px;
	margin: auto auto; 
    	margin-bottom: 15px;
  	border: 1px solid rgba(78,48,67, 0.8);
    	background: rgba(0,0,0,0.15);
    	border-radius: 2px;
    	font-family: Arial;
    	color: black;
    	font-size: 13px;
	text-align: center;
    }

    section input[type=submit]:focus {
    	box-shadow: 
        0 1px 0 rgba(255,255,255,0.2), 
        inset 0 1px 1px rgba(0,0,0,0.1),
        0 0 0 3px rgba(255,255,255,0.15);
    	outline: none;
    }     

    section input[type=submit] {
    	width: 106%;
    	padding: 8px 5px;
    	background: skyblue;    
    	border-radius: 5px;
    	border: 1px solid white;
    	box-shadow: 
    		inset 0 1px rgba(255,255,255,0.4), 
    		0 2px 1px rgba(0,0,0,0.1);
    	cursor: pointer;
    	color: white;
    	text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    	font-size: 16px;
    	font-weight: bold;
    	font-family:  Arial;
    }

    section  input[type=submit]:hover {
		box-shadow:
				inset 0 1px rgba(255,255,255,0.2),
				inset 0 20px 30px rgba(99,64,86,0.5);
	}

	/* compatibilidade com browsers*/
    section input::-webkit-input-placeholder{
    color: rgba(37,21,26,0.5);
    text-shadow: 0 1px 0 rgba(255,255,255,0.15);
	}

/*Base*/
        
    body {
        background: #e5e5e5;
        color: #272727;
        font: 16px/40px "Open Sans", sans-serif;
        margin: 0;
    }

    h2 { margin: 0; }

    hr {
        background: #5e5e5e;
        border: none;
        height: 1px;
        margin: 0;
        min-height: px;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

   